
.Home

    height: 100%
    padding: 20px
    padding-top: 100px
    text-align: center
    .container
      widows: 100%
      display: flex
      margin-top: 50px
      .one
        width: 33%
        margin: 5px
        transition: 1s ease
        background-color: #14213d80;
        border-radius: 10px
        /* border: 1px solid #fca311; */
        box-shadow: 0px 0px 11px 1px #14213d;
        i
              margin-top: 55px;
              font-size: 92px;
        h3
          font-size: 50px
          margin-top: -20px
      .one:hover
        background-color: #14213dc4;
        color: white
    .divider
      img
        width: 500px 
    .descr
      text-align: center
      font-family: 'Montserrat', sans-serif
      color: black
      font-size: 20px
      font-weight: 800
      margin-bottom: 30px
    .loginA
      margin-top: 20px
      font-size: 40px
      padding: 10px
      background-color: #ffffff7d
      color: rgb(20,33,61)
      border: 2px solid rgb(20,33,61)
      border-radius: 10px
      cursor: pointer
      transition: 1s ease
    .loginA:hover
      background-color: #ffffff9d
      transform: scale(1.9)
      font-size: 48px
    .title
    
      text-align: center
      font-family: 'Montserrat', sans-serif
      
      img
        width: 400px
  


.Home::after 
  content: "";
  background-image: url("https://wallpapercave.com/wp/wp2279368.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   


