@import '../../palette'

.AccountCardModal
    
    font-size: 16px
    
    
    input
      /* height: 10px */
      margin-right: 10px!important
      width: 192px!important
    button
      height: 40px
      
      
      //width: 60px
      background-color: $my_gold!important
      color: white!important
    button:hover
        background-color: #ba780e!important
        color: white
    a
      cursor: pointer 
    margin-bottom: 10px
.HeaderMenu
  left: 0px
  right: 0px
  z-index: 99
  height: 50px
  background-color: $my_blue
  border: 1px solid black
  top: 0px
  position: fixed
  /* box-shadow: -1px -7px 16px #000000 */
  display: flex
  color: white
  vertical-align: center
  padding-top: 10px
  font-size: 30px
  font-family: 'Montserrat', sans-serif
  .logo
    margin-top: 5px
    display: flex
    .admin
      font-size: 30px
      font-weight: 700
      /* transform: rotate(45deg) */
      color: $my_gold
  .hamburger
    position: absolute
    right: 0px
    display: flex
    padding-top: 5px
    .dropdown
      text-align: right
    .ui.dropdown .menu 
      right: 0!important 
      left: -46px;




.pikaDrop
    height: 30px;
    