@import '../../palette'
    
.dashboardContainer
  padding-top: 30px
.footerMenu
  z-index: 99
  left: 0px
  right: 0px
  height: 50px
  background-color: $my_blue
  border: 1px solid black
  bottom: 0px
  position: fixed
  /* box-shadow: -1px -7px 16px #000000 */
  display: flex
  color: white
  vertical-align: center
  

  .icon
    margin: auto
    font-size: 30px
    padding-top: 15px
    cursor: pointer
    color: white
    height: 100%
    width: 100%
    transition: color 1000ms linear;
    transition: transform 1000ms linear;  
.selected
  background-color: #ffffff38;
/*   .icon:hover
    color: $my_platinum_strong
    transform: scale(1.1) */
